
    <div  class="row">
    <div class="container">	
      <div class="col-xs-7">
	<h2>Articles</h2>
	<button class="btn btn-info" ng-click="goToRandomArticle()">Random Article</button>	
        <div ng-repeat="article in articles" style="clear: both;">
	  <a ng-href="/article/{{article.id}}/{{article.slug}}">
	  <img ng-src="{{article.image}}" style="float: left; height: 100px; width: 80px; margin-right: 10px;">
	  <h3 ng-bind="article.title"></h3>
	  <h7 ng-bind="article.publication" style="font-style: italic;"></h7>
          <h5 ng-bind="article.author"></h5>
	  <p style="font-size: 0.8em; font-style: italic;" ng-bind="article.date"></p>
	  <p ng-bind="article.description"></p>
	  <br>
	</div>	  
      </div>
      <div class="col-xs-1">
	<span class="glyphicon glyphicon-menu-right" ng-show="closed" ng-click="closed=false">		
	</span>
	<span class="glyphicon glyphicon-menu-down" ng-hide="closed" ng-click="closed=true">		
	</span>

      </div>	
      <div class="col-xs-4" ng-hide="closed">	
	<h2>Add</h2>
	<div class="form-group">
          <label>Title</label>
          <input class="form-control" placeholder="Enter Title" ng-model="article.title" ng-keyup="validateTitle()">					
        </div>	
	<div class="form-group">
          <label>Publication</label>
          <input class="form-control" placeholder="Enter Publication" ng-model="article.publication">					
        </div>
	<div class="form-group">
          <label>Author</label>
          <input class="form-control" placeholder="Enter Author" ng-model="article.author">					
        </div>
	<div class="form-group">
          <label>Date</label>
          <input class="form-control" placeholder="Enter Date" ng-model="article.date">					
        </div>
	<div class="form-group">
          <label>Image</label>
          <input class="form-control" placeholder="Image" ng-model="article.image">
           <div ng-show="article.image.length > 7 && (article.image.substr(-3) === 'jpg'  || article.image.substr(-3) === 'png')">
	    <h4>Preview</h4>
	    <img ng-src="{{article.image}}" style="height: 100px; width: 80px; margin-right: 10px;">
	  </div>
	</div>
	<div class="form-group">
          <label>Category</label>
          <select class="form-control" placeholder="Enter Title" ng-model="article.category">
	     <option value="">-</option>
	     <option value="Epic">Epic</option>	
	     <option value="Awesome">Awsome</option>
	     <option value="Average">Average</option>
	  </select>									
        </div>
	<div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="article.description"></textarea>					
        </div>	
        <button class="btn btn-info" ng-click="addArticle()"  ng-show="isValid()">Add</button>	
      </div>
    </div>	
    </div>


